@charset "utf-8";
/* Material Design Nav */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  color: lighten(black, 40%);
  line-height: 1.5em;
  position: relative;
}
.navOpen {
  overflow: hidden;
}
.wrapper {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 40px;
}
.wrapper.open {
  transform: translateX(200px) translateY(50px);
  -webkit-transform: translateX(200px) translateY(50px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.wrapper section {
  max-width: autopx; 
  margin: 0 auto;
} 
.openNav {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 50px;
  height: 50px;
  background-color: #80D3BB;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9;
}
.openNav:hover {
  cursor: pointer;
}
.openNav .icon {
  transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 24px;
  left: 10px;
}
.openNav .icon:before,
.openNav .icon:after {
  transition-duration: 0.5s;
  background-color: white;
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 0px;
}
.openNav .icon:before {
  top: -7px;
}
.openNav .icon:after {
  top: 7px;
}
.openNav.open {
  transform: translateX(200px) translateY(50px);
  -webkit-transform: translateX(200px) translateY(50px);
}
.openNav.open .icon {
  background-color: transparent;
}
.openNav.open .icon:before,
.openNav.open .icon:after {
  top: 0;
}
.openNav.open .icon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.openNav.open .icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
nav {
  background-color: #80D3BB;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
nav ul {
  width: 150px;
  margin-top: 50px;
}
nav ul:hover li {
  color: rgba(255, 255, 255, 0.5);
}
nav ul li, nav ul li ul li {
  transition-duration: 0.25s;
  display: block;
  padding: .25rem 1rem .5rem 0;
  color: white;
  letter-spacing: 0.02em;
  text-align: right;
  text-decoration: none;
}
nav ul a {
  color: white;
  letter-spacing: 0.02em;
  text-align: right;
  text-decoration: none;
}
nav ul li:hover a:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

